.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.favButton {
  position: absolute;
  top: 10px;
  right: 10px;

  &.active {
    color: black;
    background-color: pink;
  }
}
