.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.favButton {
  position: absolute;
  top: 10px;
  right: 10px;

  &.active {
    color: black;
    background-color: pink;
  }
}
