.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

// a.active {
//   color: red;
// }

// a.pending {
//   animate: pulse 1s infinite;
// }

// a.transitioning {
//   /* css transition is running */
// }
