.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vw;
  a {
    :hover {
      transition: all 0.1s ease;
      font-weight: bold;
      color: pink;
    }
  }
}
