.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vw;
  margin-top: 200px;
  background-color: light-dark(white, rgb(25, 25, 25));

  a {
    :hover {
      transition: all 0.1s ease;
      font-weight: bold;
      color: pink;
    }
  }
}
