.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.favButton {
  position: absolute;
  top: 10px;
  right: 10px;

  &.active {
    color: rgb(255, 255, 255);
    background-color: rgb(236, 69, 97);
  }
}

.variant-picker {
  width: 80%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

option {
  max-width: 100%;
  max-height: 100%;
  width: 40px;
}
