#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.hidden {
  visibility: hidden;
}

//bonus - add media queries based on screensize
