:root {
  max-width: 100vw;
  font-family: "Arial Narrow", Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3,
h4,
label,
p {
  font-weight: 500;
  color: #490827;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

select {
  font-family: "Open Sans", sans-serif;
  width: 200px;
  box-shadow: inset 0 0 10px #24180328;
}

a {
  font-weight: 500;
  color: #490827;
  text-decoration: none;
  :hover {
    color: #d61b72;
  }
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: black;
  font-size: 139.77px;
  font-weight: 400;
  word-wrap: break-word;
  font-family: "DM Sans", sans-serif;
}

h2 {
  color: #eb3159;
}

//Online Public Free Fonts

.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cal-sans {
  font-family: "Cal Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

//Button - styling

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  :hover {
    border-color: #b925ad;
  }
  :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

//Micro-interactions

//Site-Responsiveness

//NOTE - media queries - flexbox enough for now - add after complexity

//1. device size
// - mobile: < 481px
// - iPad/Tablets: 481px-768px
// - small screens,laptops: 769px-1024px
// - desktops, large screens: 1025px-1200px
// - extra large screens: 1201px >

//2. device orientation - add if needed later

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
